.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.timing-div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.timing-div> h4{
    font-size: 25px;
    margin-right: 30px;
}

.timing-div > button{
    background-color: greenyellow;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.text-to-betyped{
    border: 1px solid black;
    width: 40vw;
    padding: 5px;
    font-weight: 700;

}

.keyboard{
    width: 50vw;
}

.typing-input{
    width: 50vw;
    font-size: larger;
    padding: 5px;
    font-weight: 700;
}